---
import { PAGES_PATH } from "src/utils/types/pagesTypes";
import { ProductFathersTypes } from "src/utils/types/types";

---

<section class="service">
  <div class="service-wrap" style="background-color: #343434;">
    <div class="service__item service__intro">
      <div class="service__item-inner">
        <h3>
          <span>Nuestros productos</span>
          <br> Mas exitosos
        </h3>
        <p>
          En Alplast, te presentamos nuestra selección de excelencia en aberturas y cerramientos de aluminio. 
          <br>
          Productos de calidad que transformarán tu espacio.
        </p>
        <div>
          <a href={`/${PAGES_PATH.CATALOG_PATH}`} class="au-btn au-btn--big au-btn--pill au-btn--white au-btn--border au-btn--big">Ver todos</a>
        </div>
      </div>

    </div>
    <!-- end service intro -->
    <a href={`/${PAGES_PATH.CATALOG_PATH}/${ProductFathersTypes.CS_TYPES}`} class="service__item" style="background-image: url('/img/products/courtainwall/courtainwall.png');">
      <div class="service__item-inner">
        <img alt="Icon 1" src="/img/icon/icon-service-01.png">
        <h4>COMPLEMENTOS</h4>
      </div>
    </a>
    <!-- end service item -->
    <a href={`/${PAGES_PATH.CATALOG_PATH}/${ProductFathersTypes.OPENERS_TYPES}`} class="service__item" style="background-image: url('/img/products/puertarebatir/puertarebatir.png');">
      <div class="service__item-inner">
        <img alt="Icon 2" src="img/icon/icon-service-02.png">
        <h4>PUERTAS</h4>
      </div> 
    </a>
    <!-- end service item -->
    <a href={`/${PAGES_PATH.CATALOG_PATH}/${ProductFathersTypes.OPENERS_TYPES}`} class="service__item" style="background-image: url('/img/products/banderola/banderola.png');">
      <div class="service__item-inner">
        <img alt="Icon 3" src="/img/icon/icon-service-03.png">
        <h4>VENTANAS</h4>
      </div>
    </a>
    <!-- end service item -->
  </div>
</section>